*.diffs
**/*.log
*.lst
lib/**/*.pm
bin/*.pl
bin/*.sh
**/*.1man
*.tar.gz
*~
#*
.#*
*.tmpl
task-definition*.json
resources
image-digest
provides
extra-files
bin/get-creds-from-process
bin/*.tdy
bin/*.crit
lib/**/*.tdy
lib/**/*.crit
bin/amazon-credentials
