*.diffs
**/*.log
*.lst
lib/**/*.pm
bin/*.pl
bin/*.sh
**/*.1man
*.tar.gz
*~
#*
.#*
*.tmpl
task-definition*.json
resources
image-digest
provides
extra-files
bin/get-creds-from-process
bin/*.tdy
bin/*.crit
lib/**/*.tdy
lib/**/*.crit
bin/amazon-credentials
**/*.checked
**/*.crit
**/*.pl
**/*.pm
**/*.raw
**/*.sh
**/*.tdy
*-review-2*.annotate
*-review-2*.code
*-review-2*.pod
*.gz
*.log
*.tmp
.\#*
\#*
buildspec.yml.current
buildspec.yml.tmpl
module.pm.tmpl
test.t.tmpl
extra-files.mk
